<form action = "/payment/results">

  <label for id = "apr_id">APR</label>
  <input id = "apr_id" name = "apr" placeholder = "e.g. 4.52"><br>
  <label for id = "num_years">Number of years</label>
  <input id = "num_years" name = "years" placeholder = "How many years?"><br>
  <label for id = "principal_id">Principal</label>
  <input id = "principal_id" name = "principal" placeholder = "How much principal?"><br>
  <button>Calculate square</button>

</form>
