<h1>Payment Results</h1>
<p> APR </p>
<p><%= @apr_input %>%</p>
<p>Number of years </p>
<%= @years_input%>
<p>Principal</p>
<p><%= @principal_input %></p>
<p>Payment</p>
<p><%= @payment.to_f.to_fs(:currency) %></p>
<br>
<a href="/payment/new">Calculate another square root</a>
