<form action = "/square/results">

  <label for id = "sq_id">Enter a number</label>
  <br>
  <input id = "sq_id" name = "sq" placeholder = "Number Here">
  <br>
  <button>Calculate square</button>

</form>
