<form action = "/square_root/results">

  <label for = "sqrt_id">Enter a number</label>
  <br>
  <input id = "sqrt_id" name = "sqrt" placeholder = "Number Here">
  <br>
  <button>Calculate square root</button>

</form>
