<form action = "/square/results">

<div>
  <label for = "sq_id">Enter a number</label>
  <input id = "sq_id" name = "sq" placeholder = "Number Here">
</div>

<button>Calculate square</button>

</form>
